- if user_signed_in?
  %li
    = link_to('Logout', destroy_user_session_path, :method => :delete)
  - if current_user.admin?
    %li
      = link_to('New Product', new_product_path)
- else
  %li
    = link_to('Login', new_user_session_path)
