<h1>Order Confirmation</h1><hr>
<p><b>Thank you so much for placing an order with us!</p></b>

<p><b>Confirmation of your order will also be emailed to you shortly.</p></b>
<b>Your Order Details</b>
<table>
  <thead>
    <tr>
      <th>Item</th>
      <th>Price</th>
      <th>Quantity</th>
      
    </tr>
  </thead>

  <tbody>
    <%@order.order_items.each do |item|%>
      <tr>
        <td><%= item.name%></td>
        <td><%= item.product.price%></td>
        <td><%= item.quantity%></td>
      </tr>
    <%end%>
    
  </tbody>
</table>
